section.section-width-600,
section.section-width-800,
section.section-width-1000,
section.section-width-1200,
aside.section-width-600,
aside.section-width-800,
aside.section-width-1000,
aside.section-width-1200 {
    width: 100%;
    float: left;
}

@media (min-width: 900px) {
    section.section-width-600 {
        width: 600px;
    }
    aside.section-width-600 {
        width: calc(50% - 300px);
    }
}

@media (min-width: 1100px) {
    section.section-width-800 {
        width: 800px;
    }
    aside.section-width-800 {
        width: calc(50% - 400px);
    }
}

@media (min-width: 1300px) {
    section.section-width-1000 {
        width: 1000px;
    }
    aside.section-width-1000 {
        width: calc(50% - 500px);
    }
}

@media (min-width: 1500px) {
    section.section-width-1200 {
        width: 1200px;
    }
    aside.section-width-1200 {
        width: calc(50% - 600px);
    }
}