@page "/manage/dashboard"
@layout AdminLayout


<AuthorizeView>
    <Authorized>
        <h3>Dashboard</h3>
    </Authorized>
    <NotAuthorized>
        <LayoutView Layout="@typeof(ViewportMiddleYLayout)">
            <ErrorPage/>
        </LayoutView>
    </NotAuthorized>
</AuthorizeView>



@code {

}
