<div class="top-row ps-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TrzyszczCMS</a>
    <button class="navbar-toggler me-4" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manage/dashboard" style="height: 42px;">
                <i class="fas fa-clipboard-list" aria-hidden="true"></i>&nbsp;Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manage/pages" style="height: 42px;">
                <i class="fas fa-book-open" aria-hidden="true"></i>&nbsp;Posts &amp; articles
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manage/files" style="height: 42px;">
                <i class="fas fa-file" aria-hidden="true"></i>&nbsp;Files
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manage/comments" style="height: 42px;">
                <i class="fas fa-comment" aria-hidden="true"></i>&nbsp;Comments
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manage/appearance" style="height: 42px;">
                <i class="fas fa-paint-brush" aria-hidden="true"></i>&nbsp;Appearance
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manage/users" style="height: 42px;">
                <i class="fas fa-user" aria-hidden="true"></i>&nbsp;Users
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manage/settings" style="height: 42px;">
                <i class="fas fa-sliders-h" aria-hidden="true"></i>&nbsp;Settings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="manage/surveys" style="height: 42px;">
                <i class="fas fa-poll" aria-hidden="true"></i>&nbsp;Surveys
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
