<footer class="w-100 py-3">

    <h1>Footer</h1>

    <div class="conatiner mx-auto" style="max-width: 1320px;">
        <div class="row">
            @for (byte i = 0; i < 3; ++i)
            {
                <div class="col col-sm-4 col-12 p-sm-4 p-2 text-start">
                    <ul>
                        <li>Footer content</li>
                        <li>Footer content</li>
                        <li>Footer content</li>
                        <li>Footer content</li>
                    </ul>
                </div>
            }
        </div>
    </div>
</footer>