@inherits LayoutComponentBase
@*--- This a layout for placing content vertically centered ---*@

<div class="d-flex align-middle vh-100">
    <div class="my-auto w-100">
        @Body
    </div>
</div>