<th>
    <div class="w-100 p-1">
        @if (!string.IsNullOrEmpty(Title))
        {
            <div class="ps-1">@Title</div>
        }
        else
        {
            <span class="user-select-none" aria-hidden="true">&nbsp;</span>
        }
        @if (SearchBoxType == SearchBoxType.TextInput)
        {
            <input class="form-control form-control-sm mt-1" placeholder="search" @oninput="OnSearchTextChanged" />
        }
        else if (SearchBoxType == SearchBoxType.DateInputs)
        {
            <input class="d-inline-block form-control form-control-sm mt-1" type="date" style="width: calc(50% - 12px);"
                   @bind-value="@startDate"  @oninput="OnStartDateChanging">
            <div   class="d-inline-block text-center">–</div>
            <input class="d-inline-block form-control form-control-sm mt-1" type="date" style="width: calc(50% - 12px);"
                   @bind-value="@endDate" @oninput="OnEndDateChanging">
        }
    </div>
</th>