@layout AdminLayout
@page "/manage/edit-page"

@using System.ComponentModel;
@using TrzyszczCMS.Client.ViewModels.Administering.Edit
@inject PageEditorViewModel ViewModel

@if (this.ViewModel.IsManagingPossible)
{
    <h1>MarkDown editor</h1>
}
else
{
    <span>If you want to create or edit a page, select one.</span>
}

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.ViewModel.PropertyChanged += new PropertyChangedEventHandler(
            async (s, e) => await this.InvokeAsync(() => this.StateHasChanged())
        );
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await this.ViewModel.LoadDataFromDeposit();
        }
    }
}
